<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Node &amp; Express Deployment Check</title>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>  
  <div class="content">
    <h1>Node &amp; Express Deployment Check</h1>

    <div class="image"></div>

    <div class="version-wrapper">
      <div class="node_ver">{{node_ver}}</div>
      <div class="express_ver">{{express_ver}}</div>
    </div>

    <p>If you are seeing this message then Node.js and Express.js are up and running.</p>
  </div>
</body>
</html>